openapi: 3.0.0
info:
  title: Phone Verification API
  description: API for verifying phone numbers.
  version: 1.0.0
servers:
  - url: https://neru-5d5813f3-phone-verif-prod.euw1.runtime.vonage.cloud/startFlow
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error type identifier
        message:
          type: string
          description: Human-readable error message
        code:
          type: integer
          description: Internal error code
        http_code:
          type: integer
          description: HTTP status code
      required:
        - error
        - message
        - code
        - http_code
    
    SessionDetails:
      type: object
      properties:
        session_id:
          type: string
          description: Unique session identifier
        validation_token:
          type: string
          description: Token for validation
        status:
          type: string
          enum: [pending, whatsapp_previewed, opened, verified, expired]
          description: Current session status
        validity_timestamp:
          type: integer
          description: Timestamp when session expires
        created_at:
          type: string
          format: date-time
          description: When the session was created
        previewed_at:
          type: string
          format: date-time
          nullable: true
          description: When the WhatsApp preview was viewed
        opened_at:
          type: string
          format: date-time
          nullable: true
          description: When the verification link was opened
        verified_at:
          type: string
          format: date-time
          nullable: true
          description: When the phone number was verified
        validated_phone_number:
          type: string
          nullable: true
          description: The verified phone number

    WhatsAppDetails:
      type: object
      properties:
        number:
          type: string
          description: WhatsApp business number
        deeplink:
          type: string
          format: uri
          description: WhatsApp deep link for verification

    LinksDetails:
      type: object
      properties:
        web:
          type: string
          format: uri
          description: Web URL for verification completion

    StartVerificationResponse:
      type: object
      properties:
        session_id:
          type: string
        validation_token:
          type: string
        status:
          type: string
          enum: [pending, whatsapp_previewed, opened, verified, expired]
        next:
          type: string
          format: uri
          description: Next step URL (development mode only)
        session:
          $ref: '#/components/schemas/SessionDetails'
        whatsapp:
          $ref: '#/components/schemas/WhatsAppDetails'
        links:
          $ref: '#/components/schemas/LinksDetails'

    CheckStatusResponse:
      type: object
      properties:
        validation_token:
          type: string
        status:
          type: string
          enum: [pending, whatsapp_previewed, opened, verified, expired]
        session_id:
          type: string
        validated_phone_number:
          type: string
          nullable: true
        session:
          $ref: '#/components/schemas/SessionDetails'
        links:
          $ref: '#/components/schemas/LinksDetails'

paths:
  /t/{token}:
    get:
      summary: Track verification link access
      description: Handles verification link access and redirects to callback URL. Also tracks WhatsApp previews.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: The validation token
        - name: callback_url
          in: query
          schema:
            type: string
            format: uri
          description: Override callback URL for redirect
      responses:
        '302':
          description: Redirect to callback URL
        '200':
          description: WhatsApp preview content
          content:
            text/html:
              schema:
                type: string
        '404':
          description: Token not found or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /start-verification:
    get:
      summary: Start verification flow
      description: Initiates a phone number verification flow.
      parameters:
        - name: key
          in: query
          required: false
          schema:
            type: string
          description: Your API key. One of `key` or `x-api-key` must be present.
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: Your API key. One of `key` or `x-api-key` must be present.
        - name: session_id
          in: query
          schema:
            type: string
          description: A unique identifier for the session. Will be created randomly if null
        - name: callback_url
          in: query
          schema:
            type: string
            format: uri
          description: The URL to which the user will be redirected after verification.
        - name: is_public
          in: query
          schema:
            type: boolean
            default: true
          description: Whether the session require an API key to read the status
      responses:
        '200':
          description: Flow started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartVerificationResponse'
        '400':
          description: Bad request - API key required or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - API key usage limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Start verification flow
      description: Initiates a phone number verification flow.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: Your API key. One of `key` or `x-api-key` must be present.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id:
                  type: string
                  description: A unique identifier for the session. Will be created randomly if null
                callback_url:
                  type: string
                  format: uri
                  description: The URL to which the user will be redirected after verification.
                is_public:
                  type: boolean
                  default: true
                  description: Whether the session require an API key to read the status
      responses:
        '200':
          description: Flow started successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartVerificationResponse'
        '400':
          description: Bad request - API key required or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - API key usage limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: API key not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /check-verification-status:
    get:
      summary: Check verification status
      description: Checks the status of a verification flow.
      parameters:
        - name: token
          in: query
          schema:
            type: string
          description: The validation token.
        - name: key
          in: query
          required: false
          schema:
            type: string
          description: Your API key. One of `key` or `x-api-key` must be present.
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: Your API key. One of `key` or `x-api-key` must be present.
        - name: session_id
          in: query
          schema:
            type: string
          description: The session ID.
      responses:
        '200':
          description: Status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckStatusResponse'
        '400':
          description: Bad request - Session ID or validation token required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Access denied to session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found or invalid validation token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      summary: Check verification status (POST)
      description: Checks the status of a verification flow via POST request.
      parameters:
        - name: x-api-key
          in: header
          required: false
          schema:
            type: string
          description: Your API key.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: The validation token
                session_id:
                  type: string
                  description: The session ID
      responses:
        '200':
          description: Status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckStatusResponse'
        '400':
          description: Bad request - Session ID or validation token required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Access denied to session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Session not found or invalid validation token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'